ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.categories {

  &-select {
    margin-left: 1rem;
  }

  &-badges {
    margin-top: 1rem;
    margin-left: 1rem;

    &-previously {
      margin: 0.5rem;
    }
  }

  &-badge {
    margin: 0 0.5rem;
    border-radius: 5px;
  }

  &-label {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.badges {
  &-container {
    display: flex;
    align-items: center;
  }

  &-edit {
    margin-left: 1rem;
  }
}

.pointer {
  cursor: pointer;
}

.tremble {
  animation: tilt-n-move-shaking 0.20s infinite;
}

.red-strikethrough {
  text-decoration: line-through;
  text-decoration-color: black; /* Color of the line */
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(2px, 2px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-2px, 2px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
