<ion-header fixed-slot-placement="before">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>To do Today</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p class="categories-select">{{ canDeleteCategories ? 'Elimina' : 'Selecciona' }} una categoría:</p>
  <div class="badges-container">
    <div class="badges-edit">
      <ion-icon class="pointer" name="pencil-outline" size="large" (click)="canDeleteCategories = !canDeleteCategories"></ion-icon>
    </div>
    <div class="categories-badges">
      <ion-badge
        [ngClass]="{ 'tremble': canDeleteCategories }"
        class="categories-badge"
        *ngFor="let category of categories; let i = index"
        [ngStyle]="getBadgeStyle(category)"
        (click)="addToCategoryFilter(category)"
      >
      <ion-icon name="close-outline" *ngIf="canDeleteCategories" ></ion-icon>
      {{ category }}</ion-badge>
    </div>
  </div>

  <ion-segment [(ngModel)]="nowShowing">
    <ion-segment-button value="todo">
      <ion-label>Por hacer</ion-label>
    </ion-segment-button>
    <ion-segment-button value="done">
      <ion-label>Completadas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-item-divider/>

  <div class="categories-badges">
    <div class="categories-label">
        <p>Estas filtrando por:</p>
        <ion-badge
        class="categories-badge"
        *ngFor="let category of categoriesFilter"
        [ngStyle]="getBadgeStyle(category)"
        (click)="deleteFromCategoryFilter(category)"
        >
          <ion-icon name="close-outline"></ion-icon>
          {{ category }}
        </ion-badge>
        <p *ngIf="!categoriesFilter.length">---</p>
    </div>
  </div>

  <ion-item-divider/>

  <ion-list>
      <ion-item
        button="false"
        detail="false"
        *ngFor="let task of tasks | filterTasks:categoriesFilter | filterCompleted:nowShowing;"
        >
        <ion-icon class="pointer" *ngIf="doneIcon(task); else undoneTask" name="checkmark" (click)="taskDone(task)" size="medium"></ion-icon>
        <ng-template #undoneTask>
          <ion-icon class="pointer" name="arrow-redo" (click)="taskDone(task)" size="medium"></ion-icon>
        </ng-template>
        <ion-label class="categories-label" (click)="editTask(task)" button="true">
          <h4 class="categories-title">{{ task.title }}</h4>
          <p class="categories-description">{{ task.description }}</p>
        </ion-label>
        <div class="badges-container" (click)="editTask(task)">
          <ion-badge
          class="categories-badge"
          *ngFor="let category of task.categories | filterBadges"
          [ngStyle]="getBadgeStyle(category)"
          >
            {{ category }}
          </ion-badge>
        </div>
        <ion-icon *ngIf="canDeleteTask" class="pointer" name="trash" (click)="deleteTask(task)" size="medium"></ion-icon>
      </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="presentingElement" backdropDismiss="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ editMode ? 'Editar' : 'Crear' }} tarea</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <div class="categories-badges">
          <ion-badge
            class="categories-badge"
            *ngFor="let category of categoriesForTask"
            [ngStyle]="getBadgeStyle(category)"
            (click)="deleteFromCategoryFilter(category)"
          >
            <ion-icon name="close-outline"></ion-icon>
            {{ category }}
          </ion-badge>
        </div>

        <div class="categories-badges">
          <ion-badge
            class="categories-badge"
            *ngFor="let category of tempCategories"
            [ngStyle]="getBadgeStyle(category)"
            (click)="deleteFromTaskCategories(category)"
          >
            <ion-icon name="close-outline"></ion-icon>
            {{ category }}
          </ion-badge>
        </div>

        <form [formGroup]="formTask">
          <ion-item>
            <ion-label position="stacked">Titulo</ion-label>
            <ion-input formControlName="title" placeholder="Titulo de la tarea" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-textarea formControlName="description" placeholder="Descripción de la tarea"></ion-textarea>
          </ion-item>

        </form>

        <form >
          <ion-item>
            <ion-label position="stacked">Nueva categoría?</ion-label>
            <ion-input [formControl]="formCategory" placeholder="Categoría nueva" (input)="newCategoryOnInput()"></ion-input>
          </ion-item>
        </form>

        <ion-button expand="block" (click)="createTask()" [disabled]="formTask.invalid">Save</ion-button>

        <div class="categories-badges" *ngIf="categories.length">
          <div class="categories-label">Categorias previamente creadas:</div>
          <ion-badge
            class="categories-badges-previously"
            *ngFor="let category of categories | filter:formCategory.value"
            [ngStyle]="getBadgeStyle(category)"
            (click)="addCategoryToTask(category)"
          >
            {{ category }}
          </ion-badge>
        </div>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
